@import url('root/style_CommonStyle.css');

#Submit {
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--primaryBlack-color);
    color: var(--blue-color);
    border-radius: 3px;
    border: 1px solid var(--blue-color);
    line-height: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 20px;
    text-align:center;
    padding: 0.5rem 5rem 1rem 5rem;
}

/* Responsive styling for content */
@media (max-width: 767px) {
    #Submit {
        width: 100%;
        height: 2rem;
        font-size: 14px;
        padding: 0.5rem 2rem 1rem 2rem;
    }
}

/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    #Submit {
        width: 100%;
        height: 2rem;
        font-size: 16px;
        padding: 0.5rem 3rem 1rem 3rem;
    }
}

/* For screens larger than 992px */
@media (min-width: 992px) {
    #Submit {
        width: 100%;
        height: 2rem;
        font-size: 18px;
        padding: 0.5rem 5rem 1rem 5rem;
    }
}